html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset,
textarea {
  margin: 0;
  padding: 0;
}
img,
fieldset {
  border: 0;
}
/* set image max width to 100% */
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}
/* set html5 elements to block */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul {
  list-style: none outside none;
}
li {
  list-style: none outside none;
}
p,
h3,
h2,
h1,
samp,
label,
dl,
dt,
dd,
sup,
sub {
  list-style: none outside none;
}
a {
  text-decoration: none;
}
body {
  font-size: 12px;
  font-family: 'Microsoft yahei', Tahoma, Arial, Roboto, 'Droid Sans', 'Helvetica Neue', 'Droid Sans Fallback', 'Heiti SC', sans-self;
}
@media (max-width: 640px) {
  *,
  *:after,
  *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.container {
  margin-right: auto;
  margin-left: auto;
  *min-height: 1% ;
  width: 1000px;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}
.row {
  *min-height: 1% ;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24 {
  position: relative;
  min-height: 1px;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24 {
  float: left;
}
.col-lg-24 {
  width: 100%;
}
.col-lg-23 {
  width: 95.83333333%;
}
.col-lg-22 {
  width: 91.66666667%;
}
.col-lg-21 {
  width: 87.5%;
}
.col-lg-20 {
  width: 83.33333333%;
}
.col-lg-19 {
  width: 79.16666667%;
}
.col-lg-18 {
  width: 75%;
}
.col-lg-17 {
  width: 70.83333333%;
}
.col-lg-16 {
  width: 66.66666667%;
}
.col-lg-15 {
  width: 62.5%;
}
.col-lg-14 {
  width: 58.33333333%;
}
.col-lg-13 {
  width: 54.16666667%;
}
.col-lg-12 {
  width: 50%;
}
.col-lg-11 {
  width: 45.83333333%;
}
.col-lg-10 {
  width: 41.66666667%;
}
.col-lg-9 {
  width: 37.5%;
}
.col-lg-8 {
  width: 33.33333333%;
}
.col-lg-7 {
  width: 29.16666667%;
}
.col-lg-6 {
  width: 25%;
}
.col-lg-5 {
  width: 20.83333333%;
}
.col-lg-4 {
  width: 16.66666667%;
}
.col-lg-3 {
  width: 12.5%;
}
.col-lg-2 {
  width: 8.33333333%;
}
.col-lg-1 {
  width: 4.16666667%;
}
.col-lg-pull-24 {
  right: 100%;
}
.col-lg-pull-23 {
  right: 95.83333333%;
}
.col-lg-pull-22 {
  right: 91.66666667%;
}
.col-lg-pull-21 {
  right: 87.5%;
}
.col-lg-pull-20 {
  right: 83.33333333%;
}
.col-lg-pull-19 {
  right: 79.16666667%;
}
.col-lg-pull-18 {
  right: 75%;
}
.col-lg-pull-17 {
  right: 70.83333333%;
}
.col-lg-pull-16 {
  right: 66.66666667%;
}
.col-lg-pull-15 {
  right: 62.5%;
}
.col-lg-pull-14 {
  right: 58.33333333%;
}
.col-lg-pull-13 {
  right: 54.16666667%;
}
.col-lg-pull-12 {
  right: 50%;
}
.col-lg-pull-11 {
  right: 45.83333333%;
}
.col-lg-pull-10 {
  right: 41.66666667%;
}
.col-lg-pull-9 {
  right: 37.5%;
}
.col-lg-pull-8 {
  right: 33.33333333%;
}
.col-lg-pull-7 {
  right: 29.16666667%;
}
.col-lg-pull-6 {
  right: 25%;
}
.col-lg-pull-5 {
  right: 20.83333333%;
}
.col-lg-pull-4 {
  right: 16.66666667%;
}
.col-lg-pull-3 {
  right: 12.5%;
}
.col-lg-pull-2 {
  right: 8.33333333%;
}
.col-lg-pull-1 {
  right: 4.16666667%;
}
.col-lg-pull-0 {
  right: 0%;
}
.col-lg-push-24 {
  left: 100%;
}
.col-lg-push-23 {
  left: 95.83333333%;
}
.col-lg-push-22 {
  left: 91.66666667%;
}
.col-lg-push-21 {
  left: 87.5%;
}
.col-lg-push-20 {
  left: 83.33333333%;
}
.col-lg-push-19 {
  left: 79.16666667%;
}
.col-lg-push-18 {
  left: 75%;
}
.col-lg-push-17 {
  left: 70.83333333%;
}
.col-lg-push-16 {
  left: 66.66666667%;
}
.col-lg-push-15 {
  left: 62.5%;
}
.col-lg-push-14 {
  left: 58.33333333%;
}
.col-lg-push-13 {
  left: 54.16666667%;
}
.col-lg-push-12 {
  left: 50%;
}
.col-lg-push-11 {
  left: 45.83333333%;
}
.col-lg-push-10 {
  left: 41.66666667%;
}
.col-lg-push-9 {
  left: 37.5%;
}
.col-lg-push-8 {
  left: 33.33333333%;
}
.col-lg-push-7 {
  left: 29.16666667%;
}
.col-lg-push-6 {
  left: 25%;
}
.col-lg-push-5 {
  left: 20.83333333%;
}
.col-lg-push-4 {
  left: 16.66666667%;
}
.col-lg-push-3 {
  left: 12.5%;
}
.col-lg-push-2 {
  left: 8.33333333%;
}
.col-lg-push-1 {
  left: 4.16666667%;
}
.col-lg-push-0 {
  left: 0%;
}
.col-lg-offset-24 {
  margin-left: 100%;
}
.col-lg-offset-23 {
  margin-left: 95.83333333%;
}
.col-lg-offset-22 {
  margin-left: 91.66666667%;
}
.col-lg-offset-21 {
  margin-left: 87.5%;
}
.col-lg-offset-20 {
  margin-left: 83.33333333%;
}
.col-lg-offset-19 {
  margin-left: 79.16666667%;
}
.col-lg-offset-18 {
  margin-left: 75%;
}
.col-lg-offset-17 {
  margin-left: 70.83333333%;
}
.col-lg-offset-16 {
  margin-left: 66.66666667%;
}
.col-lg-offset-15 {
  margin-left: 62.5%;
}
.col-lg-offset-14 {
  margin-left: 58.33333333%;
}
.col-lg-offset-13 {
  margin-left: 54.16666667%;
}
.col-lg-offset-12 {
  margin-left: 50%;
}
.col-lg-offset-11 {
  margin-left: 45.83333333%;
}
.col-lg-offset-10 {
  margin-left: 41.66666667%;
}
.col-lg-offset-9 {
  margin-left: 37.5%;
}
.col-lg-offset-8 {
  margin-left: 33.33333333%;
}
.col-lg-offset-7 {
  margin-left: 29.16666667%;
}
.col-lg-offset-6 {
  margin-left: 25%;
}
.col-lg-offset-5 {
  margin-left: 20.83333333%;
}
.col-lg-offset-4 {
  margin-left: 16.66666667%;
}
.col-lg-offset-3 {
  margin-left: 12.5%;
}
.col-lg-offset-2 {
  margin-left: 8.33333333%;
}
.col-lg-offset-1 {
  margin-left: 4.16666667%;
}
.col-lg-offset-0 {
  margin-left: 0%;
}
@media (max-width: 640px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24 {
    float: left;
  }
  .col-sm-24 {
    width: 100%;
  }
  .col-sm-23 {
    width: 95.83333333%;
  }
  .col-sm-22 {
    width: 91.66666667%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-20 {
    width: 83.33333333%;
  }
  .col-sm-19 {
    width: 79.16666667%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-17 {
    width: 70.83333333%;
  }
  .col-sm-16 {
    width: 66.66666667%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-14 {
    width: 58.33333333%;
  }
  .col-sm-13 {
    width: 54.16666667%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-11 {
    width: 45.83333333%;
  }
  .col-sm-10 {
    width: 41.66666667%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-8 {
    width: 33.33333333%;
  }
  .col-sm-7 {
    width: 29.16666667%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-5 {
    width: 20.83333333%;
  }
  .col-sm-4 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-2 {
    width: 8.33333333%;
  }
  .col-sm-1 {
    width: 4.16666667%;
  }
  .col-sm-pull-24 {
    right: 100%;
  }
  .col-sm-pull-23 {
    right: 95.83333333%;
  }
  .col-sm-pull-22 {
    right: 91.66666667%;
  }
  .col-sm-pull-21 {
    right: 87.5%;
  }
  .col-sm-pull-20 {
    right: 83.33333333%;
  }
  .col-sm-pull-19 {
    right: 79.16666667%;
  }
  .col-sm-pull-18 {
    right: 75%;
  }
  .col-sm-pull-17 {
    right: 70.83333333%;
  }
  .col-sm-pull-16 {
    right: 66.66666667%;
  }
  .col-sm-pull-15 {
    right: 62.5%;
  }
  .col-sm-pull-14 {
    right: 58.33333333%;
  }
  .col-sm-pull-13 {
    right: 54.16666667%;
  }
  .col-sm-pull-12 {
    right: 50%;
  }
  .col-sm-pull-11 {
    right: 45.83333333%;
  }
  .col-sm-pull-10 {
    right: 41.66666667%;
  }
  .col-sm-pull-9 {
    right: 37.5%;
  }
  .col-sm-pull-8 {
    right: 33.33333333%;
  }
  .col-sm-pull-7 {
    right: 29.16666667%;
  }
  .col-sm-pull-6 {
    right: 25%;
  }
  .col-sm-pull-5 {
    right: 20.83333333%;
  }
  .col-sm-pull-4 {
    right: 16.66666667%;
  }
  .col-sm-pull-3 {
    right: 12.5%;
  }
  .col-sm-pull-2 {
    right: 8.33333333%;
  }
  .col-sm-pull-1 {
    right: 4.16666667%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-24 {
    left: 100%;
  }
  .col-sm-push-23 {
    left: 95.83333333%;
  }
  .col-sm-push-22 {
    left: 91.66666667%;
  }
  .col-sm-push-21 {
    left: 87.5%;
  }
  .col-sm-push-20 {
    left: 83.33333333%;
  }
  .col-sm-push-19 {
    left: 79.16666667%;
  }
  .col-sm-push-18 {
    left: 75%;
  }
  .col-sm-push-17 {
    left: 70.83333333%;
  }
  .col-sm-push-16 {
    left: 66.66666667%;
  }
  .col-sm-push-15 {
    left: 62.5%;
  }
  .col-sm-push-14 {
    left: 58.33333333%;
  }
  .col-sm-push-13 {
    left: 54.16666667%;
  }
  .col-sm-push-12 {
    left: 50%;
  }
  .col-sm-push-11 {
    left: 45.83333333%;
  }
  .col-sm-push-10 {
    left: 41.66666667%;
  }
  .col-sm-push-9 {
    left: 37.5%;
  }
  .col-sm-push-8 {
    left: 33.33333333%;
  }
  .col-sm-push-7 {
    left: 29.16666667%;
  }
  .col-sm-push-6 {
    left: 25%;
  }
  .col-sm-push-5 {
    left: 20.83333333%;
  }
  .col-sm-push-4 {
    left: 16.66666667%;
  }
  .col-sm-push-3 {
    left: 12.5%;
  }
  .col-sm-push-2 {
    left: 8.33333333%;
  }
  .col-sm-push-1 {
    left: 4.16666667%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-24 {
    margin-left: 100%;
  }
  .col-sm-offset-23 {
    margin-left: 95.83333333%;
  }
  .col-sm-offset-22 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-21 {
    margin-left: 87.5%;
  }
  .col-sm-offset-20 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-19 {
    margin-left: 79.16666667%;
  }
  .col-sm-offset-18 {
    margin-left: 75%;
  }
  .col-sm-offset-17 {
    margin-left: 70.83333333%;
  }
  .col-sm-offset-16 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-15 {
    margin-left: 62.5%;
  }
  .col-sm-offset-14 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-13 {
    margin-left: 54.16666667%;
  }
  .col-sm-offset-12 {
    margin-left: 50%;
  }
  .col-sm-offset-11 {
    margin-left: 45.83333333%;
  }
  .col-sm-offset-10 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-9 {
    margin-left: 37.5%;
  }
  .col-sm-offset-8 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-7 {
    margin-left: 29.16666667%;
  }
  .col-sm-offset-6 {
    margin-left: 25%;
  }
  .col-sm-offset-5 {
    margin-left: 20.83333333%;
  }
  .col-sm-offset-4 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-3 {
    margin-left: 12.5%;
  }
  .col-sm-offset-2 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-1 {
    margin-left: 4.16666667%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
.clearfix {
  *min-height: 1% ;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
@media (max-width: 640px) {
  .hidden-sm {
    display: none !important;
  }
}
.hidden-lg {
  display: none !important;
}
@media (max-width: 640px) {
  .hidden-lg {
    display: block !important;
  }
}
.affix {
  position: fixed;
}
.btn {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  text-align: center;
}
.btn.buy,
.btn.quote {
  background: #076c40;
  color: #fff;
  width: 175px;
  height: 46px;
  line-height: 46px;
  border-radius: 8px;
  font-size: 18px;
}
.btn.buy b,
.btn.quote b {
  width: 50px;
  height: 46px;
  float: left;
  background-position: center 10px;
  background-repeat: no-repeat;
  margin-left: 15px;
}
@media (max-width: 640px) {
  .btn.buy,
  .btn.quote {
    height: 56px;
    width: 151px;
    line-height: 56px;
    border-radius: 5px;
    text-align: center;
    font-size: 21px;
  }
  .btn.buy span,
  .btn.quote span {
    height: 24px;
    line-height: 24px;
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    border-right: 2px solid #fff;
  }
  .btn.buy b,
  .btn.quote b {
    width: 50px;
    display: inline-block;
    height: 56px;
    vertical-align: middle;
    float: none;
    background-position: center;
    margin-left: 0;
  }
}
.btn.buy b {
  background-image: url(../../image/common/icon-chart.png);
}
.btn.quote b {
  background-image: url(../../image/common/icon-calc.png);
}
.btn.b-insure {
  width: 197px;
  height: 35px;
  background: #ba4c01;
  border-radius: 10px;
  line-height: 35px;
  color: #fff;
}
.btn.b-insure span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 12px;
  font-size: 18px;
}
.btn.b-insure b {
  background: url(../../image/common/icon-chart.png) center no-repeat;
  width: 40px;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
}
.btn.b-quote {
  width: 197px;
  height: 35px;
  background: #ba4c01;
  border-radius: 5px;
  color: #fff;
}
.btn.b-quote span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
.btn.b-quote b {
  background: url(../../image/common/icon-calc-sm.png) left center no-repeat;
  width: 18px;
  display: inline-block;
  height: 35px;
  vertical-align: middle;
}
.btn.insure {
  background: #076c40;
  color: #fff;
  height: 54px;
  line-height: 54px;
  display: block;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
}
@media (max-width: 640px) {
  .btn.insure {
    height: 80px;
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 32px;
    border-radius: 0;
  }
  .btn.insure.qt b {
    width: 33px;
    height: 42px;
    background: url(../../image/common/icon-calc-lg.png) center no-repeat;
  }
}
.btn.insure span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 12px;
  font-size: 16px;
}
@media (max-width: 640px) {
  .btn.insure span {
    font-size: 32px;
  }
}
.btn.insure b {
  display: inline-block;
  vertical-align: middle;
  background: url(../../image/common/icon-list.png) center no-repeat;
  width: 24px;
  height: 30px;
}
@media (max-width: 640px) {
  .btn.insure b {
    background: url(../../image/common/icon-list-lg.png) center no-repeat;
    width: 32px;
    height: 40px;
  }
}
.btn.back {
  background: #68b080;
  color: #fff;
  height: 54px;
  line-height: 54px;
  display: block;
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
}
@media (max-width: 640px) {
  .btn.back {
    border-radius: 0;
    margin-top: 22px;
    height: 80px;
    display: block;
    text-align: center;
    line-height: 80px;
    font-size: 32px;
  }
}
.btn.back span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 12px;
  font-size: 16px;
}
@media (max-width: 640px) {
  .btn.back span {
    font-size: 32px;
  }
}
.btn.back b {
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 640px) {
  .btn.back b {
    background: url(../../image/common/icon-list-lg.png) center no-repeat;
    width: 32px;
    height: 40px;
  }
}
.btn.ok {
  background: #F6171F;
  color: #FFF;
}
.btn.normal {
  height: 27px;
  line-height: 27px;
  font-size: 14px;
  padding: 0 10px;
  min-width: 50px;
}
.btn.large {
  height: 34px;
  line-height: 34px;
  padding: 0 10px;
  min-width: 100px;
  font-size: 16px;
}
.action {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ffffff;
  z-index: 1000;
}
/*弹出框*/
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.fade.in {
  filter: alpha(opacity=40);
  opacity: .4;
}
.modal-btn {
  height: 70px;
  line-height: 70px;
  background: #00693C;
  font-size: 28px;
  color: #fff;
  margin: 0 40px;
  width: 50%;
  border-radius: 5px;
}
.modal-btn.cancel {
  background: #ccc;
}
.modal-btn.inline {
  width: 40%;
  margin: 0 2%;
}
.modal-dialog {
  margin: 0 auto;
  border: 2px solid #ccc;
  position: relative;
}
.modal-dialog.alert {
  width: 360px;
  background: #fff;
}
@media (max-width: 640px) {
  .modal-dialog.alert {
    width: 90%;
  }
}
.modal-dialog.alert .modal-header {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 20px;
}
@media (max-width: 640px) {
  .modal-dialog.alert .modal-header {
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    padding-left: 20px;
  }
}
.modal-dialog.alert .modal-content {
  text-align: center;
  padding: 30px 30px 40px;
  color: #757575;
  font-size: 14px;
  word-break: break-all;
}
@media (max-width: 640px) {
  .modal-dialog.alert .modal-content {
    padding: 40px 40px 50px;
    font-size: 28px;
  }
}
.modal-dialog.alert .modal-footer {
  padding-bottom: 10px;
  text-align: center;
}
@media (max-width: 640px) {
  .modal-dialog.alert .modal-footer {
    padding-bottom: 20px;
  }
}
.modal-dialog.alert .modal-btn {
  height: 40px;
  line-height: 40px;
  background: #00693C;
  font-size: 14px;
  color: #fff;
  margin: 0 40px;
  width: 50%;
  border-radius: 5px;
}
@media (max-width: 640px) {
  .modal-dialog.alert .modal-btn {
    height: 70px;
    line-height: 70px;
    font-size: 28px;
  }
}
.modal-dialog.alert .modal-btn.cancel {
  background: #ccc;
}
.modal-dialog.alert .modal-btn.inline {
  width: 40%;
  margin: 0 2%;
}
.modal-dialog.loading {
  width: 90%;
  padding: 20px 0;
  text-align: center;
  border: 0;
}
.modal-header {
  position: relative;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding-left: 20px;
  font-family: '黑体';
}
.modal-header .close {
  position: absolute;
  width: 38px;
  height: 38px;
  top: -18px;
  right: -22px;
  cursor: pointer;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
.form.qt .form-label {
  padding: 10px 0;
}
@media (max-width: 640px) {
  .form.qt .form-label {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}
.form.qt .form-label span {
  vertical-align: middle;
}
.form-label {
  font-size: 14px;
  padding-top: 21px;
}
@media (max-width: 640px) {
  .form-label {
    padding-top: 17px;
    padding-bottom: 17px;
    line-height: 60px;
  }
}
.form-label i {
  background-image: url(../../image/common/icon-insure.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  width: 34px;
  height: 32px;
  background-position: -1000px -1000px;
}
.form-label.i1 i {
  background-position: 0 0;
}
.form-label.i2 i {
  background-position: 0 -32px;
}
.form-label.i3 i {
  background-position: 0 -64px;
}
.form-label.i4 i {
  background-position: 0 -96px;
}
.form-label.i5 i {
  background-position: 0 -128px;
}
.form-label.i6 i {
  background-position: 0 -160px;
}
.form-label.i7 i {
  background-position: 0 -192px;
}
.form-label.i8 i {
  background-position: 0 -224px;
}
.form-label.i9 i {
  background-position: 0 -256px;
}
.form-label.i10 i {
  background-position: 0 -288px;
}
.form-label.i11 i {
  background-position: 0 -320px;
}
.form-label span {
  font-size: 14px;
  margin-left: 28px;
}
@media (max-width: 640px) {
  .form-label span {
    font-size: 26px;
    line-height: 1em;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}
.form.qt .form-input {
  padding-right: 6px;
}
@media (max-width: 640px) {
  .form.qt .form-input {
    padding: 6px 12px;
  }
}
.form-input {
  height: 22px;
  width: 290px;
  border: 0;
  padding: 5px 4px;
  padding-right: 30px;
  text-align: right;
  font-size: 14px;
}
.form-input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.form-input.date {
  width: 233px;
  vertical-align: middle;
  background: url(../../image/common/icon-calendar-lg.png) center right no-repeat;
}
@media (max-width: 640px) {
  .form-input {
    border: 0;
    text-align: right;
    font-size: 26px;
    height: 60px;
    padding: 6px 12px;
    width: 100%;
    color: #9b9b9b;
  }
  .form-input.date {
    width: 73%;
    background: #076c40;
    border-radius: 10px;
    color: #fff;
  }
  .form-input.date:readonly {
    color: #fff;
  }
  .form-input.date:not(:last-child) {
    border-radius: 10px 0 0 10px;
  }
  .form-input.date + .form-addon {
    border-radius: 0 10px 10px 0;
  }
  .form-input:focus {
    border-width: 1px;
    border-style: solid;
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }
}
.form-control {
  text-align: right;
  height: 32px;
  border: 1px solid #000;
  margin-top: 17px;
  font-size: 0;
}
.form-control.has-error {
  border: 1px solid #A94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.form-control.has-success {
  border: 1px solid #076C40;
}
@media (max-width: 640px) {
  .form-control {
    padding-top: 17px;
    font-size: 0;
    margin-top: 0;
    border: 0;
    height: auto;
  }
}
.form.qt .form-control {
  border: 0;
  margin-top: 10px;
}
@media (max-width: 640px) {
  .form.qt .form-control {
    margin-top: 0;
  }
}
.form-info {
  font-size: 14px;
  line-height: 32px;
  padding-right: 30px;
  vertical-align: middle;
}
@media (max-width: 640px) {
  .form-info {
    text-align: right;
    padding-right: 5px;
    font-size: 26px;
    height: 60px;
    line-height: 60px;
    width: 100%;
    color: #000000;
    vertical-align: middle;
  }
}
.form.qt .form-select {
  padding: 6px 12px;
  padding-right: 24px;
  padding-right: 10px\0;
  background-image: url(../../image/common/icon-select-lg.png);
  background-position: center right ;
  background-repeat: no-repeat;
  background-color: #076c40 !important;
  -webkit-appearance: none;
  border-radius: 10px;
  line-height: 20px;
  color: #fff;
}
@media (max-width: 640px) {
  .form.qt .form-select {
    font-size: 26px;
    height: 60px;
    padding: 6px 12px;
    padding-right: 36px;
    background: url(../../image/common/icon-select.png) center right no-repeat;
    background-color: #076c40 !important;
    -webkit-appearance: listbox;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
  }
}
.form-select {
  font-size: 14px;
  height: 32px;
  border: 0;
  text-align: right;
  vertical-align: middle;
  line-height: 24px;
}
.form-select:focus {
  border: none;
  box-shadow: none;
}
@media (max-width: 640px) {
  .form-select {
    font-size: 26px;
    height: 60px;
    padding: 6px 12px;
    padding-right: 45px;
    background: url(../../image/common/icon-select.png) center right no-repeat;
    background-color: #076c40 !important;
    -webkit-appearance: listbox;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
  }
  .form-select:not(:last-child) {
    border-radius: 10px 0 0 10px;
  }
  .form-select + .form-addon {
    border-radius: 0 10px 10px 0;
  }
}
.form-addon {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  border-left: 1px solid #000;
  height: 32px;
  line-height: 32px;
  width: 38px;
  text-align: center;
}
@media (max-width: 640px) {
  .form-addon {
    font-size: 26px;
    height: 60px;
    width: auto;
    padding: 0 15px;
    line-height: 60px;
    background: #afa69d;
    border-radius: 10px;
    color: #076c40;
    text-align: center;
  }
}
.form-checkbox input[type=checkbox] {
  position: absolute;
  z-index: 0;
  left: -1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.form-checkbox input[type=checkbox] + label {
  padding-left: 30px;
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.5em;
  position: relative;
  z-index: 2;
}
@media (max-width: 640px) {
  .form-checkbox input[type=checkbox] + label {
    font-size: 24px;
    padding-left: 40px;
    line-height: 36px;
  }
}
.form-checkbox input[type=checkbox] + label i {
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 24px;
  width: 25px;
  margin-top: -9px;
}
@media (max-width: 640px) {
  .form-checkbox input[type=checkbox] + label i {
    height: 29px;
    width: 30px;
    margin-top: 0;
  }
}
.form-checkbox input[type=checkbox]:checked + label i {
  background-position: 0 -24px;
}
@media (max-width: 640px) {
  .form-checkbox input[type=checkbox]:checked + label i {
    background-position: 0 -29px;
  }
}
.form-checkbox label.checked i {
  background-position: 0 -24px !important;
}
@media (max-width: 640px) {
  .form-checkbox label.checked i {
    background-position: 0 -29px;
  }
}
.form-checkbox label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-checkbox label i {
  background-image: url(../../image/common/checkbox-pc.png);
  position: absolute;
  left: 0;
  top: 6px;
}
@media (max-width: 640px) {
  .form-checkbox label i {
    top: 4px;
    background-image: url(../../image/common/checkbox.png);
  }
}
.form-checkbox label a {
  color: #076c40;
  text-decoration: underline;
}
.range {
  padding: 0 10px;
}
.range::selection,
.range *::selection {
  background: none;
}
.range-mark {
  position: relative;
  height: 14px;
}
.range-mark i {
  display: inline-block;
  position: absolute;
  top: 0;
  height: 10px;
  border-left: 1px solid #78b098;
  border-right: 1px solid #00693c;
}
.range-bar {
  height: 14px;
  background: #bababa;
  border-radius: 5.5px;
}
.range-bar p {
  position: relative;
  height: 14px;
  background: #00693c;
  border-radius: 5.5px 0 0 5.5px;
}
.range-bar p.linear {
  -webkit-transition: width .1s linear;
}
.range-bar p.ease {
  -webkit-transition: width .5s ease;
}
.range-bar b {
  height: 32px;
  width: 31px;
  position: absolute;
  top: -9px;
  right: -17px;
  background: url(../../image/common/icon-range-lg.png) no-repeat center;
}
.range-ruler {
  margin-top: 10px;
  position: relative;
  height: 20px;
}
.range-ruler span {
  color: #000;
  font-size: 14px;
  display: inline-block;
  position: absolute;
  top: 0;
}
@media (max-width: 640px) {
  .content {
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    padding-top: 72px;
  }
}
@media (max-width: 640px) {
  .product .content,
  .quote .content {
    padding-bottom: 80px;
  }
  .insure .content,
  .confirm .content {
    padding-bottom: 182px;
  }
}
.wrap {
  position: relative;
  background: #fff;
}
@media (max-width: 640px) {
  html,
  body {
    height: 100%;
  }
  .wrap {
    height: 100%;
    overflow: hidden;
  }
}
.head {
  display: none;
}
.head.lg {
  display: block;
  height: 75px;
  background: url(../../image/common/head-bg.png) repeat-x left center;
}
.head-logo {
  text-align: left;
  padding-top: 16px;
}
.head-logo img {
  margin-left: 21px;
}
.head-call {
  text-align: right;
  padding-top: 24px;
}
.head-call img {
  margin-right: 10px;
}
@media (max-width: 640px) {
  .head {
    display: block;
    height: 72px;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 100;
    position: absolute;
    width: 100%;
  }
  .head.lg {
    display: none;
  }
  .head-name {
    font-size: 30px;
    line-height: 72px;
    text-align: center;
    color: #000000;
    font-weight: normal;
  }
  .head-name.red {
    color: #c95404;
  }
  .head-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 72px;
    width: 72px;
  }
  .head-icon.home {
    background: url(../../image/page/head-home.png) center no-repeat;
  }
  .head-icon.back {
    background: url(../../image/common/icon-back.png) center no-repeat;
  }
  .head-icon.left {
    left: 0;
  }
  .head-icon.right {
    right: 0;
  }
}
.line.head {
  border-bottom: solid 5px #076c40;
}
.line.head .head-name {
  line-height: 67px;
}
.foot {
  height: 108px;
  background: #076c40;
  color: #fff;
  text-align: center;
  font-size: 12px;
}
.foot-link {
  padding-top: 35px;
}
.foot-link span {
  margin: 0 20px;
}
.foot-link a {
  color: #fff;
}
.foot-link a:visited {
  color: #fff;
}
.foot-copyright {
  margin-top: 10px;
}
@media (max-width: 640px) {
  .foot {
    display: none;
  }
}
.home.wrap {
  background: url(../../image/sales/sales-home-bg.png) left bottom no-repeat;
}
.home.wrap.quote {
  background: url(../../image/reservation/reserv-home-bg.png) left bottom no-repeat;
}
@media (max-width: 640px) {
  .home.wrap {
    background: url(../../image/sales/sales-home-bg.png) -160px bottom no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.7, #ffffff), to(#ebffe8));
  }
  .home.wrap.quote {
    background: url(../../image/reservation/reserv-home-bg.png) left bottom no-repeat, -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(0.7, #ffffff), to(#ebffe8));
  }
}
.pt-title {
  height: 65px;
  line-height: 65px;
  font-size: 20px;
  color: #000;
  background: #e5f0eb;
}
.pt-list {
  padding-bottom: 40px;
}
.pt-item {
  text-align: center;
  padding-top: 28px;
}
@media (max-width: 640px) {
  .pt-item {
    text-align: left;
    height: 190px;
    border-bottom: 2px solid #d7d7d7;
    padding-top: 54px;
    padding-left: 44px;
  }
}
.pt-item img {
  width: 131px;
}
@media (max-width: 640px) {
  .pt-item img {
    float: left;
    width: 86px;
  }
}
@media (max-width: 640px) {
  .pt-detail {
    margin-left: 25px;
    display: inline-block;
    width: 50%;
  }
}
.pt-detail p {
  font-size: 18px;
  line-height: 1.2em;
  color: #717073;
  padding-top: 6px;
}
@media (max-width: 640px) {
  .pt-detail p {
    padding-top: 8px;
    font-size: 21px;
  }
}
@media (max-width: 640px) {
  .pt-detail .btn {
    float: right;
    margin-right: 32px;
  }
}
.pt-btn {
  margin-top: 15px;
}
@media (max-width: 640px) {
  .pt-btn {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
  }
}
.pt-name {
  color: #076c40;
  line-height: 1.3em;
  font-size: 24px;
  padding-top: 10px;
  font-weight: bold;
}
@media (max-width: 640px) {
  .pt-name.doubt {
    padding-top: 0;
    font-size: 27px;
  }
}
@media (max-width: 640px) {
  .pt-name {
    font-size: 27px;
    font-weight: normal;
    line-height: 1em;
  }
}
.banner {
  position: relative;
}
.banner-img {
  overflow: hidden;
  position: relative;
  display: block;
  height: auto;
}
.banner-img img {
  vertical-align: top;
  width: 1680px;
  height: auto;
  max-width: none;
  position: relative;
  left: 50%;
  margin-left: -840px;
}
.banner-reserv {
  width: 268px;
  height: 125px;
}
.banner-container {
  position: absolute;
  left: 50%;
  margin-left: -500px;
  top: 0;
}
.banner-product {
  width: 296px;
  background: url(../../image/sales/banner-product-bg.png) repeat;
  position: absolute;
  top: 22px;
  left: 0;
  padding-bottom: 12px;
}
@media (max-width: 640px) {
  .banner-product {
    right: 0;
    left: initial;
  }
}
.banner-product h4 {
  font-size: 20px;
  line-height: 42px;
  padding-top: 5px;
  color: #076c40;
  text-align: center;
}
@media (max-width: 640px) {
  .banner-product h4 {
    display: none;
  }
}
.banner-product-ac {
  padding-top: 14px;
  margin: 0 35px;
  text-align: center;
}
@media (max-width: 640px) {
  .banner-product-ac {
    display: none;
  }
}
.banner-product h5 {
  font-size: 30px;
  color: #076c40;
  text-align: center;
  padding-top: 6px;
}
.banner-product h5.pat {
  font-weight: normal;
  font-size: 43px;
  line-height: 48px;
  padding-top: 0;
}
@media (max-width: 640px) {
  .banner-product h5.pat {
    font-size: 33px;
    padding-top: 10px;
    border-top: 0;
    padding-right: 0;
  }
  .banner-product h5.pat span {
    font-size: 53px;
  }
}
.banner-product p {
  color: #076c40;
  font-size: 38px;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  margin: 0 35px;
}
.banner-product p.pah {
  padding-top: 7px;
  font-size: 53px;
  border-top: 1px solid #076c40;
}
@media (max-width: 640px) {
  .banner-product p.pah {
    font-size: 53px;
    padding-top: 20px;
    border-top: 0;
    padding-right: 0;
  }
}
.banner-product p.pat {
  padding-top: 7px;
  font-size: 50px;
  border-top: 1px solid #076c40;
}
@media (max-width: 640px) {
  .banner-product p.pat {
    font-size: 33px;
    padding-top: 20px;
    border-top: 0;
    padding-right: 0;
  }
  .banner-product p.pat span {
    font-size: 53px;
  }
}
.banner-product p.sub {
  border-top: 1px solid #076c40;
}
@media (max-width: 640px) {
  .banner-product p.sub {
    border-top: 0;
  }
}
@media (max-width: 640px) {
  .banner-product p {
    padding-top: 6px;
    color: #076c40;
    font-size: 34px;
    text-align: center;
    padding-right: 25px;
    line-height: 1em;
    font-weight: bold;
    margin: 0;
  }
}
.banner-product p b {
  line-height: 1em;
}
.banner-product p b.lg {
  font-size: 62px;
  vertical-align: sub;
}
@media (max-width: 640px) {
  .banner-product p b {
    font-size: 54px;
    line-height: 1em;
  }
}
@media (max-width: 640px) {
  .banner-product .pat .hidden-lg {
    display: inline !important;
  }
}
@media (max-width: 640px) {
  .banner-img {
    height: auto;
  }
  .banner-img img {
    position: relative;
    margin-left: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .banner-container {
    position: initial;
    margin-left: auto;
  }
  .banner-product {
    height: 160px;
    width: 264px;
    background: rgba(255, 255, 255, 0.8);
    position: absolute;
    right: 0;
    top: 77px;
    padding-top: 10px;
  }
}
.banner-reserv {
  width: 298px;
  height: auto;
  padding-bottom: 13px;
  background: url(../../image/reservation/banner-reserv-bg.png) repeat;
  border-radius: 8px 0 0 8px;
  color: #fff;
  position: absolute;
  left: 0;
  top: 34px;
}
@media (max-width: 640px) {
  .banner-reserv {
    width: 268px;
    height: 125px;
    background: rgba(2, 75, 30, 0.9);
    bottom: -59px;
    top: initial;
    border-radius: 6px 0 0 6px;
    text-align: center;
  }
}
.banner-reserv-bg {
  width: 268px;
  height: 125px;
  position: absolute;
  background: #00693c;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
  border-radius: 6px 0 0 6px;
}
.banner-reserv h4 {
  margin: 0 28px;
  font-size: 20px;
  line-height: 26px;
  padding: 7px 0;
  border-bottom: 1px solid #fff;
  color: #fff;
  text-align: center;
}
@media (max-width: 640px) {
  .banner-reserv h4 {
    display: none;
  }
}
.banner-reserv.qt h3 {
  padding-top: 15px;
}
.banner-reserv h3 {
  font-size: 32px;
  text-align: center;
  z-index: 1;
  position: relative;
  padding-top: 5px;
}
@media (max-width: 640px) {
  .banner-reserv h3 {
    font-size: 40px;
    padding-top: 10px;
  }
  .banner-reserv h3.cdc {
    font-size: 30px;
  }
}
.banner-reserv.qt p {
  padding-top: 15px;
  padding-bottom: 10px;
}
@media (max-width: 640px) {
  .banner-reserv.qt p {
    padding-top: 5px;
    padding-bottom: 0;
  }
}
.banner-reserv p {
  font-size: 18px;
  text-align: center;
  z-index: 1;
  position: relative;
  padding-top: 15px;
}
@media (max-width: 640px) {
  .banner-reserv p {
    font-size: 18px;
    padding-top: 15px;
  }
  .banner-reserv p.cdc {
    font-size: 30px;
  }
}
.banner-reserv-ac {
  padding-top: 14px;
  margin: 0 28px;
  text-align: center;
}
@media (max-width: 640px) {
  .panel {
    padding-left: 46px;
    padding-right: 35px;
    border: 0;
  }
}
.panel-head {
  font-size: 18px;
  font-weight: bold;
  color: #076c40;
  padding: 15px 0 10px;
}
@media (max-width: 640px) {
  .panel-head {
    display: none;
  }
}
.panel-body {
  border: 2px solid #076c40;
  box-shadow: 5px 5px 10px #CCC;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 22px;
}
@media (max-width: 640px) {
  .panel-body {
    padding: 0;
    border: 0;
    box-shadow: none;
  }
}
.panel.amount .panel-body {
  border: 0;
  box-shadow: none;
  padding: 0;
}
.list.sale li {
  border: 0;
  padding: 0;
}
@media (max-width: 640px) {
  .list.sale li {
    border-top: 1px solid #8d8074;
    padding: 0 13px;
  }
}
.list.qt li {
  border-top: 1px solid #cfcac5;
  padding: 0 115px;
}
@media (max-width: 640px) {
  .list.qt li {
    padding: 0 13px;
    border-top: 1px solid #8d8074;
  }
}
@media (max-width: 640px) {
  .list li {
    padding: 0 13px;
    border-top: 1px solid #8d8074;
  }
}
