@CHARSET "UTF-8";
.img{
	width:100%;
}

.content{
	width:100%;
	text-align:center;
	font-size:1.2em;
	line-height: 40px;
	height:auto;
	}
.center{
	width:80%;
	border-top:1px solid grey;
	margin:0 auto;
	padding:auto;
	font-size:1.1em;
}
.center_fill{
	width:80%;
	margin:0 auto;
	padding:auto;
	font-size:1.1em;
}
.center .table{
	width:100%;
	margin:0 auto;
	}
.center .table tr td{padding:20px 0;}


.sex{
	width:35%;
	border:1px solid grey;
	text-align: center;
	float:left;
	background-color:#fff;
	}

.center .btn{
	width:90%;
	height:60px;
	border-radius:5px;
	background-color:#4a98bf;
	text-align:center;
	color: #fff;
	margin:0 auto;
	display: block;
	line-height:2.5em;
}

.info{
	width:100%;
	background-color:#ef7d1a;
	margin:10px 0;
	text-indent:2em;
	font-size:1.2em;
	color:#fff;
	}
	
.info .left{
	width:50%;
	height:80px;
	line-height:3.5;
	float:left;
	text-align:left;	
}
.info .right{
	width:50%;
	height:80px;
	float:left;
	line-height:3.5;
	text-align:right;
}

.data_input{font-size: 1.1em;font-family: 'Microsoft YaHei';width:80%;text-align: center;}
.amount_text{width:35%;font-size: 1.1em;font-family: 'Microsoft YaHei';text-align: center;}


.nav{
	width:100%;
	background:url(../../global/images/nav.jpg) no-repeat;
	background-size:100%;
	float:left;
}

.nav .menu{
	width:25%;
	float:left;
	text-align:center;
	color:#6c939d;
	font-size: 1.4em;
	line-height: 1.5;
}
.policy_holder{
	width:100%;
	background-color:#eee890;
	color:#529cbd;
	text-align:center;
	float:left;
	padding:10px 0;
	margin:20px 0;
	font-size: 1.2em;
}
.recognizee{
	width:100%;
	background-color:#eee890;
	color:#529cbd;
	text-align:center;
	float:left;
	padding:10px 0;
	margin:20px 0;
	}
.msg{width:100%;margin:0 auto;font-size: 1.1em}
.choose{
	width:100%;text-align:center;
	margin:0 auto;
	}
table tr td{
	margin:20px 0;
}
.notice_detail{
	color:#72afb3;
	word-break:break-all;
	line-height:2.0;
	font-size: 1.1em;
	width:90%;
	margin:0 auto;
}
.true_check input{
	width:30px;
	height:30px;
	float:left;
}
.true_check{
	width:80%;
	margin:20px auto;
	font-size: 1.1em;
}
.false{
	width:100%;
	float:left;
	margin:40px 0;
}
.notice_btn{
	width:80%;
	height:60px;
	border-radius:5px;
	background-color:#d95215;
	text-align:center;
	color: #fff;
	margin:20px auto;
	line-height:2.8em;
}
.agree{
	width:80%;
	margin:0 auto;
	
}
.agree a{
	color:#2a2aeb;
}
.agree input{
	width:20px;height:20px;
}

.msg tr td input{font-size: 1.1em;width:100%}
.msg tr td select{font-size: 1.1em;width:100%}
.logoimg{width:100%;margin-left:5%}
.footer{width:90%;margin:20px auto;height:50px}
.foot_span{font-size: 1.1em;color:#808080;float:left;width:100%}
@media only screen and (max-width: 800px){
	.foot_span{font-size: 1.0em;}
}
@media only screen and (max-width: 720px){
	.foot_span{font-size: 0.8em;}
}
@media only screen and (max-width: 580px){
	.foot_span{font-size: 0.7em;}
}