@CHARSET "UTF-8";
.wkb{width: 100%;}
/*header*/
.wkb header{background: #5b8de1;}
.wkb_title{background: #9bb5e0;width: 100%;line-height: 30px;margin: 20px auto;color: #fff;text-align: center;}}

/*btn*/
.wkb .btn_wrap .min_btn{background: #5b8de1;}
.wkb .btn_wrap .one_btn{background: #5b8de1;}

/*div*/
.radio_div{width: 90%;margin: 20px 2%;line-height: 20px;}
.radio_div input[type='radio']{display:none;}
.radio_div .checked_img{width:15px;height:15px;border-radius:7px;float:left;margin:2px 5px 0;border:1px solid #656565;}
.radio_div .current_radio{background: #656565;}

.info_table {width: 90%;margin: 20px 5%;line-height: 20px;}
.info_table  input[type='checkbox']{display:none;}
.info_table  .checkbox_a{width: 15px;height: 15px;border: 1px solid #535353;float: left;margin: 2px -5px auto auto;}
.info_table .checked_img{border: #535353 solid;border-width:2px 2px 0 0;width: 8px;height: 5px;position:absolute;
transform:rotate(135deg);-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);display: inline-block;margin: 2px auto auto 2.5px;display:none;}

