@charset "utf-8";
/* CSS Document */
html,body{
	font-family:"微软雅黑";
	font-size:16px;
	}
ul,li{
	list-style:none;
	list-style-type:none;
	padding:0px;
	margin:0px;}
.gray{
	background:#f5f5f5;}
.grace-head{
	width:100%;
	height:50px;
	background:url(../images/header.jpg) center center;
	background-size:cover;
	position:fixed;
	top:0px;
	z-index:999;
	}
.grace-banner{
	margin-top:70px;}
.grace-search{
	height:70px;
	margin-right:10px;
	}
.content{
	font-size:2.2em;
	font-family:"微软雅黑";
	border-bottom:none;
	color:#c49f46;}
.grace-buttonmoney{
	width:100%;
	overflow:hidden;
	font-family:"微软雅黑";}
.grace-buttonmoney li{
	width:48%;
	height:60px;
	background:#309;
	font-size:1.4em;
	}

.grace-buttonmoney li.grace-button1{
	border:1px solid #c8aa6f;
	background:#faf4e8;
	color:#000000;
	line-height:60px;
	text-align:center;}
.grace-buttonmoney li.grace-button1 span{
	color:#ab8020;
	font-weight:bold;}
.grace-buttonmoney li.grace-button2{
	border:1px solid #c8aa6f;
	background:#e8c26d;
	color:#000000;
	line-height:60px;
	text-align:center;
	}


.grace-info{
	width:90%;
	margin:0 auto;
	
	}
.grace-info   .info{
	width:33%;
	margin-right:0.3%;
	height:60px;
	line-height:60px;
	background:#f5e9d1;
	color:#77694e;
	float:left;
	font-size:1.6em;
	font-family:"微软雅黑";
	font-weight:bold;}
.grace-info .info-select {
	background:#e8c26d;
	color:#4f3d18;
	position:relative;}
.grace-info .info-select  span{
	width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #e8c26d;
	position:absolute;
	top:60px;
	left:45%;
	
	
	}
.info2-con,.info3-con{
	display:none;}

.grace-top-menu{
	width:98%;
	margin:0 auto;
	margin-top:58px;
	overflow:hidden;
  font-size: 1.1em;
	}
.grace-top-menu2{
	width:98%;
	
	margin:0 auto;
	margin-top:58px;
	overflow:hidden;
	}
.grace-top-menu li{
	width:24.5%;
	float:left;
	margin-right:0.5%;
	padding:8px;
	border:1px solid #dfdfdf;
	background:#fffbf5;
	color:#7e7563;
	text-align:center;
	border-radius:4px;
  font-size: 1.6em;
	}
	.grace-top-menu li.menu-select{
		background:#e0ba67;
		color:#604d25;}
.grace-top-menu2 li{
	width:33%;
	float:left;
	margin-right:0.5%;
	padding:8px;
	border:1px solid #dfdfdf;
	background:#fffbf5;
	color:#7e7563;
	text-align:center;
	border-radius:4px;
	}
.grace-top-menu2 li:last-child{
	margin-right:0px;}
	.grace-top-menu2 li.menu-select{
		background:#e0ba67;
		color:#604d25;}
.grace-form{
	width:96%;
	margin:0 auto;
	border-top:1px solid #dfdfdf;
	border-left:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf;
	}
.grace-form li{
	padding:10px;
	border-bottom:1px solid #dfdfdf;
	overflow:hidden;
	background:#fff;
	color:#666;
	}
.grace-info-tl{
	font-size:1.5em;
	width:96%;
	margin:0 auto;
	padding:10px;
	font-weight:bold;
	color:#c89b4a;
	display:block;
	border-bottom:1px solid #dfdfdf;
	}
.grace-info-tl span{
	font-size:1.5em;
	color:#666;}
.grace-form .pull-left{
	width:25%;
	text-align:left;}
.grace-form .pull-right{
	width:75%;
	text-align:left;}
.grace-form .pull-right input{
	width:100%;
	background:transparent;
	border:none;}
.grace-applicant-info{
	width:96%;
	margin:0 auto;
	overflow:hidden;
	border:1px solid #dfdfdf;
	background:#fff;
	}
.grace-applicant-info li{
	width:50%;
	float:left;
	text-align:center;
	color:#666;
	padding:10px;
	font-size:1.5em;
	}
.grace-form li.grace-tips{
	font-size:0.9em;
	color:#c69e47;}
.grace-form li.grace-tips span{
	font-size: 1.2em;}
.next-button{
	width:96%;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:50px;}
.footer{
	width:100%;    
	bottom: 0;
  position: absolute;
	}
.health-info-con{
	width:90%;
	padding:10px;
	background:#fff;
	border-radius:4px;
	margin:0 auto;
	font-size:1.2em;
	margin-top: 20px;
	}
.health-info-con p{
	padding-bottom:10px;
	border-bottom:1px dotted #dfdfdf;
	color:#666;
	}
.health-info-con span{
	font-size:1.1em;
	colorl:#000;
	display:block;
	font-weight:bold;
	margin-bottom:10px;
	}
.choose-con{
	width:96%;
	margin:0 auto;
	
	}
.choose-con2{
	width:96%;
	margin:0 auto;
	padding:5px;
	font-size:0.9em;
	
	}
.choose-con2 span{
	color:#be993e;}
.choose-con li{
	font-size:1.2em;
	font-weight:bold;
	color:#caa650;
	}
.yes-success{
	width:60px;
	height:60px;
	margin:0 auto;
	margin-top:100px;
	margin-bottom:20px;}
.result{
	font-size:1em;
	color:#666;
	text-align:center;
	line-height:2em;}
.result span{
	color:#F30;
	font-size:1.2em;
	}
.banner{
	width:100%;
	margin-top:50px;}
.banner img{
	width:100%;
	}
.share-tl{
	height:50px;
	line-height:50px;
	background:#fff;
	width:96%;
	padding:0 10px;
	font-size:1.4rem;
	margin:10px auto;

	position:relative;}
.arrow-down{
	
	width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #fff;
	position:absolute;
	bottom:-10px;
	left:32%;
	}
.share-tl img{
	height:40px;}
.share-tl .pull-right span{
	color:#896d32;
	background:#f2d590;
	padding:0 5px;
	border-radius:10px;
	}
.share-tl a{
	color:#000;}
.safe-list{
	margin-top:5px;
	background:#fff;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;}
.safe-list li{
	height:60px;
	line-height:60px;
	background:#f2d590;
	margin-bottom:5px;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;}
.safe-list li.color1{
	background:#f2d590;
	}
.safe-list li.color1 .pull-left{
	background:#efc565;
	}
.safe-list li .pull-left{
	background:#efc565;
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
	padding:0 3px 0 8px;
	margin-right:10px;
	
	}
.safe-list li .pull-right{
	color:#fff;
	margin-right:5px;
	border:2px solid #fff;
	height:28px;
	font-size:1.4rem;
	line-height:25px;
	border-radius:15px;
	padding: 0 5px;
	margin-top:18px;
	}
.safe-list li .pull-right a{
	color:#fff;}
.safe-list li .pull-left img{
	height:58px;}
.safe-list li.color2{
	background:#edc56d;
	}
.safe-list li.color2 .pull-left{
	background:#e5bb5c;
	}
.safe-list li.color3{
	background:#dbb55f;
	}
.safe-list li.color3 .pull-left{
	background:#d6ae55;
	}
.safe-list li.color4{
	background:#caa44d;
	}
.safe-list li.color4 .pull-left{
	background:#c19a42;
	}
.safe-list li.hot-color1{
	background:#fcd273;
	font-size:16px;
	}
.safe-list li.hot-color1 .pull-left{
	background:#f6c962;
	margin-right:6px;
	
	}
.safe-list li.hot-color2{
	background:#fdd67f;
	font-size:16px;
	}
.safe-list li.hot-color2 .pull-left{
	background:#f9ce6e;
	margin-right:6px;
	}
.safe-list li.hot-color3{
	background:#fcdb90;
	font-size:14px;
	}
.safe-list li.hot-color3 .pull-left{
	background:#f5d284;
	margin-right:6px;
	}
.safe-list li.hot-color4{
	background:#fce0a1;
	font-size:13px;
	}
.safe-list li.hot-color4 .pull-left{
	background:#f7d68c;
	margin-right:6px;
	}
.safe-list li.hot-color5{
	background:#f8e1ad;
	font-size:13px;
	}
.safe-list li.hot-color5 .pull-left{
	background:#f1d597;
	margin-right:6px;
	}
.safe-list li  .pull-arrow{
	color:#7c6f4f;
	margin-right:5px;
	border:none;
	
	height:28px;
	font-size:2rem;
	line-height:25px;
	
	padding: 0 5px;
	margin-top:18px;
	}
.share-jifen{
	
	width:96%;
	margin:0 auto;
	margin-top:60px;
	border:1px solid #dfdfdf;
	background:#fff;}
.award-list{
	
	width:96%;
	margin:0 auto;
	margin-top:10px;
	border:1px solid #dfdfdf;
	background:#fff;}
.jifen-tl img{
	width:100%;}
.share-jifen ul{
	width:84%;
	margin:5px auto;}
.share-jifen ul li{
	overflow:hidden;
	
	
	padding:5px 0px;}
.share-jifen ul li:first-child{
	border-bottom:1px solid #dfdfdf;
	}
.share-jifen ul li:last-child{
	border-top:1px dotted #dfdfdf;
	}

#canvas {
	position:relative;
	width:50px;
	margin-top:-5px;
	}
#canvas span{
	color:#ffa913;}
.circle {
	display: inline-block;
	margin: 1em;
	color:#fff;
	font-weight:normal;
	font-size:0.5em;
	
	
}

.circles-decimals {
	font-size: .4em;
}
	
.grace-number{
	width:90px;
	height:90px;
	border-radius:45px;
	background:#fff;
	position:absolute;
	top:17px;
	left:17px;
	z-index:999;
	text-align:center;
	padding-top:10px;}
.grace-number p{
	font-family:"微软雅黑";
	color:#f14537;
	font-size:2.4rem;
	padding:0px;
	margin:0px;
	line-height:30px;
	font-weight:normal;}
.grace-number p.my-number{
	color:#666;
	font-size:1.2rem;
	margin-top:-10px;}
.share-jifen  ul li .pull-right span.whole{
	display:inline-block;
	vertical-align:middle;
	width:8px;
	height:8px;
	background:#f2d1a0;}
.share-jifen  ul li .pull-right span.mine{
	display:inline-block;
	vertical-align:middle;
	width:8px;
	height:8px;
	background:#f14537;}
.share-jifen  ul li .jifen-text{
	padding-top:70px;
	font-size:1rem;}
.share-jifen  ul li span.red{
	color:#f14537;}
.award-list ul{
	width:84%;
	margin:0 auto;}
.award-list ul li{
	border-bottom:1px dotted #dfdfdf;
	
	line-height:50px;
	font-size:1.3rem;
	
	overflow:hidden;
	padding:5px 0px;}
.award-list ul li img{
	height:40px;
	}
.award-list span.rank{
	color:#c19a42;
	font-weight:bold;}
.award-list span.rank-normal{
	color:#acacac;
	font-weight:bold;}
.choose-check{
	width:96%;
	margin:0 auto;
	overflow:hidden;
	border-top:1px solid #f8e8d1;
	border-bottom:1px solid #f8e8d1;
	border-left:1px solid #f8e8d1;
	height:26px;
	
	}
.choose-check li{
	width:50%;
	float:left;line-height:26px;
	padding:0px;
	text-align:center;
	border-bottom:1px solid #f8e8d1;
	border-right:1px solid #f8e8d1;
	background:#f8e8d1;
	color:#3f3d3e;}
.choose-check li.checked{
	background:url(../images/choose-bg.jpg) center center;
	background-size:cover;}
.vip-detail-menu{
	width:96%;
	margin:10px auto;
	overflow:hidden;
}
.vip-detail-menu li{
	width:24.6%;
	float:left;
	height:30px;
	line-height:30px;
	border:1px solid #dfdfdf;
	background:#fffbf5;
	color:#725a27;
	text-align:center;
	margin-right:0.5%;
	border-radius:4px;}
.vip-detail-menu li:last-child{
	margin-right:0px;}
.vip-detail-menu li.choosed{
	background:url(../images/choose-bg.jpg) center center;
	background-size:cover;
	}
.con5-8 img,.con9-12 img,.con13-14 img,.con1-4 img{
	width:100%;}
.con5-8,.con9-12,.con13-14{
	display:none;}
.detail-con{
	width:96%;
	margin:0 auto;}
.fixed-button{
	width:96%;
	margin:0 auto;
	}
.fixed-button button.vipshq{
	width:100%;
	border:none;
	margin:0 auto;
	height:45px;
	line-height:45px;
	font-size:1.8rem;
	background:#d2ae96;
	color:#896a56;
	text-align:center;
	}
.vip-button{
	overflow:hidden;
	width:96%;
	margin:10px auto;}
.vip-button li{
	width:48%;
	margin-right:2%;
	float:left;}
.vip-button li:last-child{
	margin-right:0px;
}

.vip-button li button{
	width:100%;
	height:40px;
	line-height:40px;
	text-align:center;
	border:none;}
.vip-button li button.vip{
	background:#d2ae96;
	color:#684b39;}
.vip-button li button.detail{
	background:#e7c377;
	color:#8f6d26;}
.my-income-con{
	width:100%;
	background:#ffa914;
	margin-top:50px;
	color:#fff;}
.my-income-con h5{
	text-align:center;
	padding-top:30px;
	}
.my-income-con h4{
	text-align:center;
	font-size:14px;
	}
.my-income-con h1{
	text-align:center;
	margin:0px;
	padding:0px;
	font-weight:normal;
	font-size:50px;
	font-family: Arial, sans-serif
	}
.income-list{
	overflow:hidden;
	width:98%;
	margin:0 auto;
	border-top:1px solid #fadead;}
.income-list li{
	width:33.3%;
	float:left;
	text-align:center;
	padding:15px 0;
	}
.income-rate{
	background:#fff;
	
	line-height:45px;
	padding:5px 10px;
	
	overflow:hidden;
	margin:8px 0;
	font-size:1.4rem;}
.income-rate .pull-left{
	font-size:1.6rem;}
.income-rate .pull-right span{
	color:#ffa818;
	font-weight:bold;
	font-size:1.6rem;}
.income-advice{
	padding:0 10px;
	background:#fff;}
.income-advice h2{
	font-size:1.6rem;
	}
.advice-list li{
	
	padding:6px 0;
	border-bottom:1px dotted #dfdfdf;}

.income-advice table{
	text-align:center;
	color:#666;
	
	}
.income-advice table .money-start,.income-advice table .month-start{
	font-size:1.2rem;
	}
.income-advice table td{
	background:url(../images/line.png) right center no-repeat;}
.income-advice table td:first-child{
	text-align:left;}
.income-advice table td:last-child{
	border-right:none;
	background:none;}
.income-advice table span{
	color:#ffa914;
	font-weight:bold;}
.money-list{
	background:#fff;
	padding:0 10px;}
.money-list li{
	height:60px;
	background:#fff;
	border-bottom:1px solid #dfdfdf;}
.pay-icon{
	width:40px;
	height:40px;
	background:#e5bb5c;
	border-radius:20px;
	margin-top:10px;
	float:left;
	}
.pay-icon img{
	width:100%;
	}
.money-list .pull-right{
	line-height:60px;
	
	}
.pay-text{
	margin-top:10px;
	margin-left:10px;}
.pay-text span{
	font-size:12px;
	color:#666;}
.link-btn{
	height:200px;
	background:#f0f0f0;
	padding:30px 0px;}
.link-btn li{
	width:80%;
	margin:0 auto;
	text-align:center;
	line-height:40px;
	border-radius:4px;
	border:1px solid #dec36d;
	margin-bottom:20px;
	background:#fff;
	color:#666;}
.link-btn li a{
	color:#666;
	}
.btn-margin{
	position:fixed;
	bottom:30px;
	width:98%;
	margin-left:-50%;
	left:51%;
	}
.footer-fixed{
	width:100%;
	position:fixed;
	bottom:0px;}
.grace-form .text-right{
	text-align:right;}
.normal-con{
	width:98%;
	margin:0 auto;
	background:#fff;
	padding-top:50px;
	margin-top:10px;}
.check-icon{
	width:20%;
	margin:0 auto;
	margin-bottom:10px;
	}
.normal-con p{
	text-align:center;
	line-height:30px;}
.choice{
	width:90%;
	margin:0 auto;
	border-top:1px solid #dfdfdf;
	padding-bottom:10px;}
.choice li{
	border-bottom:1px dotted #dfdfdf;
	}
.info-con{
	background:#fff;
	width:96%;
	margin:0 auto;
	margin-top:10px;}
.file-4{
	background:#000;}
.text-con{
	font-size:14px;
	line-height:25px;}
.btn-last{
	width:96%;
	margin:0 auto;
	overflow:hidden;
	margin-top:10px;
	margin-bottom:50px;}
.btn-last li{
	width:49%;
	float:left;
	background:#c9b880;
	line-height:40px;
	text-align:center;
  font-size: 1em;
  }
.btn-last li:first-child{
	margin-right:2%;
	background:#d2ae96;}
.btn-last li:nth-child(3){
	margin-right:2%;
}
.btn-last li:nth-child(4){
	background:#d2ae96;
}	
.btn-last li:nth-child(5){
	background:#d2ae96;
	margin-right:2%;
}
.btn-last li:nth-child(7){
	margin-right:2%;
}
.btn-last li:nth-child(8){
	background:#d2ae96;
}
.btn-last li:nth-child(9){
	background:#d2ae96;
	margin-right:2%;
}
.btn-last li:nth-child(11){
	margin-right:2%;
}
.text-con span{
	color:#c8a154;
	font-weight:bold;}
.insurance-list{
	margin-top:60px;
	margin-bottom: 70px;
	}
.insurance-tl {
	width:90%;
	margin:0 auto;
	padding-left:5px;
	
	color:#666;
	font-size: 1.5em;
	font-weight:bold;
	margin-top:10px;}
.insurance-content{
	width:86%;
	margin:0 auto;
	
	}
.insurance-content li{
	background:url(../images/dot.jpg) repeat-y 14px 0;
	padding-top:20px;
	position:relative;
	overflow:hidden;}
.insurance-icon{
	width:26px;
	height:26px;
	background:#d4ae54 url(../images/left-icon.png) center center;
	background-size:cover;
	border-radius:13px;
	float:left;
	margin-top:34px;
	
	margin-right:4%;
	}
.insurance-text{
	width:86%;
	float:right;
	background:#fff;

	border-radius:6px;}
.insurance-text  ul{
	overflow:hidden;
	
	}
.insurance-text  ul li.wenzi{
	padding-top:0px;
	width:80%;
	background:none;
	padding-left:10px;
	float:left;}
.insurance-text  ul li.add-bg{
	width:20%;
	background:url(../images/bg.jpg) repeat-y right 0;
	min-height:110px;
	float:right;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	text-align:center;
	line-height:70px;
	font-size:20px;
	color:#fff;}
.wenzi h2{
	font-size: 1.2em;
	color:#303030;
	margin:0px;
	margin-top:10px;
	
	}
.wenzi p{
	font-size: 1.1em;
	color:#666;
	margin-top:5px;
	}
.wenzi p span{
	font-size:16px;}
.wenzi p.shengxiao{
	font-size: 1em;
	color:#f0644b;
	margin-top:5px;
	}
.insurance-title{
	margin-top:60px;
	margin-left:10px;
	font-size:16px;
	color:#c59e47;
	font-weight:bold;
	}
	
#scroller ul.insurance-column{
	height:auto;}
#scroller ul.insurance-column li{
	border-bottom:1px solid #dfdfdf;
	line-height:30px;
	}
	
#scroller .insurance-column li.tl{
	height:34px;
	line-height:34px;
	background:#d9b158;
	color:#000;}
#scroller .name-long{
	width:200px;}
#scroller .name-long li{
	width:100%;}
	
#scroller .insurance-table-line	{
	height:34px;
	line-height:34px;
	background:#d9b158;
	color:#000;
	font-size:14px;
	text-align:center;
	
	}
#scroller .insurance-table td{
	text-align:center;
	line-height:45px;
	font-size:14px;
	border-bottom:1px solid #dfdfdf;}
